<!DOCTYPE html>
<html>
<body>
<h1>我是welcome.vm 解析生成的视图</h1>
<h4>亲爱的${toUserName}，你好！</h4>

<p style="color:blue;">&emsp;${message}</p>

祝：开心！
</br>
    ${fromUserName}
</br>
    ${time}

</body>
</html>