<component name="ArtifactManager">
  <artifact type="war" name="SpringBootLearn">
    <output-path>$PROJECT_DIR$/target/artifacts/SpringBootLearn</output-path>
    <root id="archive" name="SpringBootLearn.war">
      <element id="dir-copy" path="$PROJECT_DIR$/WebRoot" />
      <element id="module-output" name="SpringBootLearn" />
    </root>
  </artifact>
</component>